      <div class="vertical-center">
        <div class="wrapper">

          <div *ngIf="errorLogin" >
            <div class="alert alert-danger d-flex align-items-center sm" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
              </svg>
              <div>
                {{errorLoginMessage}}
              </div>
            </div>
          </div>
          <form #regularForm="ngForm" autocomplete="off">
            <div class="mb-3">
              <label for="userName" class="form-label">Login</label>
              <input type="string" class="form-control" id="userName" name="userName"
                [ngClass]="{'border-danger':userName.invalid && inputIsNotValid}" [(ngModel)]="userLogin.login"
                #userName="ngModel" required>
              <small class="text-danger" *ngIf="(inputIsNotValid && userName.invalid ) ">Check your Login
              </small>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required
                [ngClass]="{'border-danger':password.invalid && inputIsNotValid}" [(ngModel)]="userLogin.password"
                #password="ngModel">
              <small class="text-danger" *ngIf="inputIsNotValid && password.invalid">Check your Password
              </small>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary text-center" (click)="login(regularForm)">Login</button>
            </div>
          </form>
        </div>
      </div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</div>
